@use '../mixin/mixin' as * ;

.contact {
  padding-top: 59px;
  padding-bottom: 70px;
  padding-left: 15px;
  max-width: 100%;
  background: transparent linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%) 0% 0% no-repeat padding-box;
  @include mq(m){
    padding-top: 0;
    padding-left: 0;
  }
  &__title--white,
  &__sub-title--white {
    color: #fff ;
    text-align: center;
  }
  &__title {
    padding-left: 0;
  }
  &__sub-title {
    margin-top: 2px;
    padding-bottom: 33px;
    padding-left: 6px;

  }
  &__text {
    line-height: 1.7;
    padding-bottom: 39px;
    color: #fff;
    text-align: center;

  }

}

.form {
  background-color: #fff;
  max-width: 908px;
  margin: 0 auto;
  font-weight: bold;
  @include mq(m) {
    margin: 0 4vw;
  }
  &__inner {
    padding: 36px 62px 35px 62px;
    @include mq(s) {
      padding: 34px 4vw 35px 4vw;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-left: 1px;

    label {
      padding-bottom: 45px;
      .must {
        font-size: 0.875rem;
        margin-left: 23px;
        padding: 4px 16px 5px;
        background-color: #0C449B;
        color: #fff;
        border-radius: 10px;
      }
      .must-second{
        margin-left: 19px;
        input {
          margin-bottom: 20px;
        }
      }
    }

    input,textarea {
      background-color: #EEFBFB;
      margin-bottom: 27px;
    }

    input {
      max-width: 499px;
      height: 43px;
    }
    textarea {
      height: 179px;
      resize: none;
    }
  }
}

.email {
  padding-top: 1px;

  label {
    padding-bottom: 45px;
    margin-left: -2px;
  }
}
input[id="email"] {
  margin-bottom: 21px;
}
textarea[id="comment"] {
  margin-bottom: 28px;
}

.form__message label{
  padding-bottom: 44px;
}
.form__privacy-check{
  text-align: center;
}

.form__submit-btn {
  margin: 28px auto 0;
  width: 155px;
  text-align: center;
}

input[type=checkbox] {
	width: 20px;
  height: 20px;
  margin-bottom: 4px;
  margin-right: 6px;

}
label[for=privacy] {
  margin-right:  4px;
}

.end-message {
  display: none;
}

.false-message {
  display: none;
}

.thanks-page {
  text-align: center;
  font-weight: bold;
}

.thanks-page button {
  margin: 30px auto;
}
