.section-title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.6875;
  text-align: center;
  padding-left: 10px;
}

.section-sub-title {
  font-weight: bold;
  text-transform:uppercase;
  color: #3BA6C9;
  line-height: 1.6875;
  text-align: center;
  padding-left: 10px;
}
