.works {
  font-weight: bold;
  max-width: 100%;
  padding-bottom: 93px;
  padding-top: 49px;
  &__title {
    padding-left: 14px;
  }
  &__sub-title {
    padding-top: 6px;
    padding-left: 15px;
  }
  &__cards {
    padding-top: 65px;
  }
}

.works-card {
  min-width: 322px;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  cursor: grab;
  box-sizing: border-box;

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__body {
    line-height: 1.7;
    padding: 21px 15px 0px 17px;
  }
  &__title {
    text-align: left;
  }
  &__text {
    line-height: 1.7;
    font-size: 0.875rem;
    text-align: left;
    padding: 21px 18px 29px 0;
  }
}
